@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - SimpleBlog</title>
</head>
<body>
    <header>
        <h1>
            <a href="@Url.Action("Index", "Posts")">Simple Blog</a>
        </h1>
            <a href="@Url.Action("Login", "Auth")">Login</a>
    </header>

    <!--INSERT VIEW HERE-->
    @RenderBody()
    
<footer>
    &copy; @DateTime.UtcNow.Year - Arx
</footer>
    @RenderSection("Scripts", false)
</body>
</html>
