@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - SimpleBlog</title>

    @Styles.Render("~/styles")
</head>
<body>
    <header>
        <h1>
            <a href="@Url.Action("Index", "Posts")">Simple Blog</a>
            <i class="glyphicon glyphicon-bell"></i>
        </h1>
        
        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome back, @User.Identity.Name</p>
            <a href="@Url.Action("Logout", "Auth")">Logout</a>

            if (User.IsInRole("admin"))
            {
                <a href="@Url.Action("Index", "Posts", new{area="Admin"})">View Posts in Admin</a>
            }
        }
        else
        {
            <a href="@Url.Action("Login", "Auth")">Login</a>
        }
    </header>

    <!--INSERT VIEW HERE-->
    @RenderBody()
    
<footer>
    &copy; @DateTime.UtcNow.Year - Arx
</footer>

    @Scripts.Render("~/scripts")
    @RenderSection("Scripts", false)
</body>
</html>
